tgcrypto
asyncio
ffmpeg-python
git+https://github.com/MarshalX/tgcalls@main
pyrogram
youtube-search-python
git+https://github.com/LagacyAlex/y-d-op@master
git+https://github.com/LagacyAlex/y-doll@master
youtube-search
git+https://github.com/LagacyAlex/y-d-op@master
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
